h1 {
    color:red;
}
p, li {
    color:green;
    list-style-type: square;
}
.special {
    color:orange;
    font-weight: bold;
}
li em {
    color: rebeccapurple;
}
h1 + p {
    font-size: 200%;
}
p span {
    color: red;
}
a {
    font-weight: bold;
}
a:link {
    color: navy;
    border-bottom: 1px dashed;
}
a:visited {
    color: green;
}
a:hover {
    border-bottom: .07em solid;
}